body,p,h1,h2,h3,body,section,span{
    font-family: 'Montserrat',sans-serif !important;
}

.title{
    font-weight: 900 !important;
}
p{
    text-align: center;
    font-weight:100
}
.text-color-tertiary{
    color:#49DBDB 
}

.f-normal{
    font-weight:500 ;

}

.nav-bar{
    display: flex;
    justify-content: center !important;
}

.mob-header{
    display: flex;
    justify-content: space-between;
}
#hamburger-butt{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
#logo-mobile{
    margin-top: 1rem;
}

#hamb-list{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
    display: flex;
    padding-right: 50px;
    list-style-type: none;
}


#hamb-list li{
    padding-right: 40px;
}

@media (max-width: 364px) {
    #hamb-list{
        margin-left:0
    }
    #hamb-list li{
        padding-right: 30px;
    }
}

@media (max-width: 328px) {
    #hamb-list li{
        padding-right: 20px;
    }
}