body,p,h1,h2,h3,body,section,span{
    font-family: 'Montserrat',sans-serif !important;
}

.title{
    font-weight: 900 !important;
}
p{
    text-align: center;
    font-weight:100
}
.text-color-tertiary{
    color:#49DBDB 
}

.f-normal{
    font-weight:500 ;

}

.nav-bar{
    display: flex;
    justify-content: center !important;
}

